<div class="container margin-container bg-white">
	<div class="row header-form">
		<div class="col-xs-push-1 col-xs-10 text-center">
		  <h2 class="h-padding">Publicar Vehículo</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-offset-2 col-md-8">
			<legend class="">Que tipo de vehículo deseas publicar?</legend>
		</div>
	</div>
</div>