
$grisOscuro: #424242; //66,66,66
$grisOscuroUp: #292929;
$gris: #F2F2F2; //rgba 233,233,233
$grisUp: #D9D9D9;
$naranja: #FF9900; // 255,153,0
$azul: #007399;
$azulUp: #004D66;
$blanco: #fff;
