@import "colors";


//**************************************************************	
		// GENERALS
//**************************************************************
$body-bg: $gris;
$text-color: $grisOscuro;

//**************************************************************	
		// NAVBAR
//**************************************************************	
$navbar-height: 60px;
$navbar-border-radius: 0px;
$navbar-default-border: $grisOscuro;
$navbar-default-bg: $grisOscuro;
$navbar-default-link-color: $gris;
$navbar-default-link-hover-color: $naranja;
$navbar-default-link-active-color: $blanco;
$navbar-default-link-active-bg: $grisOscuroUp;
$navbar-default-toggle-hover-bg: $grisOscuroUp;

//**************************************************************	
		// BUTTONS
//**************************************************************
$btn-primary-bg: $azul;
$btn-primary-border: $azulUp;

//**************************************************************	
		// THUMB
//**************************************************************
$thumbnail-bg: $blanco;
$thumbnail-border: #A8A8A8;

//**************************************************************	
		// INPUTS
//**************************************************************
$input-border-focus: $naranja;