@import "colors";

.product {
	margin-bottom: 15px;
	background-color: $blanco;
	border: 1px solid $grisOscuro;
	padding-bottom: 15px;
	hr {
		padding: 0;
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		border-color: $grisUp;
	}
	.row {
		margin: 0;
	}
	.image {
		height: 200px;
		background-color: $gris; 
		img{
			max-height: 200px;
			width: 100%;
		}
		div:first-child {
			margin: 0;
			padding: 0;
		}
	}
	.usuario{
		div:first-child {
				margin: 0;
				padding: 0;
			}
		 	a {
				display: block;
				color: $grisOscuro;
				text-decoration: none;
				&:hover, &:active, &:focus {
					color: $naranja;
				}
			}
			.agencia {
				background-color: $naranja;
				height: 18px;
				font-size: 14px;
				font-weight: bold;
				a {
					display: block;
					color: $blanco;
					text-decoration: none;
					&:hover, &:active, &:focus {
						color: $grisOscuro;
					}
				}
			}
	}
	.precio{
		color: $naranja;
		font-size: 18px;
		font-weight: bold;
		.glyphicon {
			color: $grisOscuro;
			margin-right: 5px;
		}
	}
	.caracteristicas {
		font-size: 16px;
		.glyphicon {
			color: $naranja;
			margin-left: 10px;
			margin-right: 5px;
		}
		.glyphicon:first-child {
			margin-left: 0px;
			margin-right: 5px;
		}
	}
}

/* Extra Small devices (mobiles, 320px and up) */
@media (max-width: 360px) {
	.product {
		h4 {
			font-size: 14px;
			font-weight: bold;
		}
		.precio{
			font-size: 14px;
		}
		.caracteristicas {
			font-size: 12px;
		}
	}
}

@media (min-width: 360px) and (max-width: 768px) {
	.product {
		h4 {
			font-size: 16px;
			font-weight: bold;
		}
		.precio{
			font-size: 16px;
		}
		.caracteristicas {
			font-size: 16px;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}