/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "override_boots";
@import "bootstrap";
@import "font-awesome";

@import "navbar";
@import "home";
@import "thumbnail";
@import "form";
@import "jquery.bxslider";
@import "slider";
@import "filtros";

/////////////////////////////////////////////////////////////////////
/////////////GENERALES

.h-padding {
	padding: 20px;
}

.bg-white {
background-color: $blanco;
}

.margin-container {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}