<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un enlace para cambiar tu contrase&ntilde;a. Puedes hacerlo a trav&eacute;s del siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no has solicitado esto, por favor ignora este e-mail.</p>
<p>Tu contrase&ntilde;a no cambiar&aacute; a menos de que entres al enlace de arriba y crees una nueva.</p>
